nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF7ED;
    padding: 0 41px 0 41px;
}
.nav--title {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}
nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

nav a:hover {
    color: #161616;
    text-decoration: underline;
}